/*
Here is a comment.
selector {
property: value;
}
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  background-color: hsla(200,90%,10%,.9);
  font: 18px/1.675 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  color: rgba(0,0,0,.925);
  position:relative;
  background-color: #f0f0f0;
  background-color: rgba(255,255,255,.925);
}

img {
  max-width: 100%;
  width: auto;
}

figure {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2,
h3 {
  margin-bottom:0;
  font-size: 1.25rem;
}

h2 + p,
h3 + p {
  margin-top: 1rem;
}

p + h2,
p + h3 {
  margin-top: 3rem;
  line-height: 1.25;
}

hr {
  border:0;
  height: 3px;
  background: rgba(0,0,0,0.1);
  width: 30px;
  margin: 3rem auto;
}

figure.quote {
  margin: 3rem 0;
  font-style:italic;
  color: rgba(0,0,0,.7);
  font-size: .8rem;
  border-left: .25rem solid rgba(0,0,0,.125);
  padding-left: 1rem;
}

.quote blockquote {
  margin-left:0;
}

.quote figcaption {
  font-style:normal;
}

.quote figcaption p:before {
  content: "—";
  color: rgba(0,0,0,.25);
}

header {
  background-color: hsla(210,70%, 7%,.875);
  padding: 2rem 0 0;
}

header h1 {
  font-size: 1rem;
  margin:0;
  font-weight:600;
}

header a,
header a:link {
  text-decoration:none;
  color: white;
  color: rgba(255,255,255,.9);
}

.authors {
    color: white;
    color: rgba(255,255,255,.9);
    font-size: .75rem;
    margin: 2rem 0 0;
}

.home .authors {
    font-size: 1.125rem;
}

#global-navigation {
    margin-top: 4rem;
}

#global-navigation span {
    display:block;
    margin: 1rem 0;
    padding: 1rem 0;
}

#global-navigation span + span {
    border-top: 2px solid #555;
    border-top-color: rgba(255,255,255,.25);
}

#global-navigation  a {
  text-decoration:none;
  display:block;
}

#global-navigation  a:link,
#global-navigation  a:visited {
  color: rgba(190,230,230,.75);
}

#global-navigation  a:hover,
#global-navigation  a:focus {
}

#global-navigation  a:active {
}

header {
  padding: 2rem;
}
  
main {
  padding: 0 2rem 2rem;
}

main > h1 {
    margin: 0 -2rem 2rem;
    padding: 2rem;
    background: rgba(190,230,230,.75);
    border-bottom: 2px solid rgba(0,0,0,.125);
}

.home main {
    display:none;
}

.home header {
    width: auto;
    height: 100vh;
}

.locations {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.locations a {
  width: 48%;
  margin-bottom: 2rem;
  text-decoration:none;
  background: rgba(0,0,0,0.125);
  padding: 1rem;
}

#graphic {
  margin: -30px -30px 40px;
  background: rgba(190,230,230,.75);
}

#graphic svg {
  height: 20vh;
  min-height: 100px;
  width: 100%;
  margin:0;
}

#references {
    margin-bottom: 1em;
}

footer {
  display:block;
  background: #333;
  padding: 30px;
  color: white;
}

/* Utility Classes */
.audible {
  border: 0;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.reflink {
    text-decoration:none;
    color: #333;
    background: rgba(190,230,230,.95);
    padding: 2px;
    line-height: 0;
    vertical-align:super;
    font-size: .9rem;
}

.reflink:hover,
.reflink:focus {
    background: rgba(190,230,230,.75);
}

#works-cited p {
  margin-left: 2rem;
  text-indent: -2rem;
}

.vex.vex-theme-os .vex-content {
  width: 700px;
}

.previous,
.next {
    text-decoration:none;
    color: #333; 
    background: rgba(190,230,230,.75);
    display: block;
    text-align: center;
    float:left;
    padding: 1rem 2rem;
}

.previous:before {
    content: '← ';
}
.next {
    float:right;
}

.next:after {
    content: ' →';
}

.previous:hover,
.previous:focus,
.next:hover,
.next:focus {
    background: rgba(190,230,230,.625);
}

@media screen and (min-width: 700px) {

    html {
        background-image: url('i/ethicslab.jpg');
        background-size: cover;
        background-attachment:fixed;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }

  body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
  }

  header {
      width: 30%;
  }

  nav {
  }
    
  main {
      width: 70%;
  }
  
  .home body {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .home header {
      width: 90vw;
      background: rgba(0,0,0,.825);
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: auto;
  }

  .home .meta,
  .home nav {
      width:48%;
      margin:0 !important;
      height: 50%;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  .home h1 {
      font-size: 1.75rem;
      line-height: 1.75;
      margin: 0 !important;
  }

  .home nav {
      font-size: 1.125rem;
  }
  
  .home nav span {
      margin:0 !important;
  }
  
  .home main {
      display:none;
  }
  
}

@media screen and (min-height: 600px) {

    #global-navigation {
        position:fixed;
    }
    
    .home #global-navigation {
        position: inherit;
    }
}

