/*
Here is a comment.
selector {
property: value;
}
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  background-color: hsla(200,90%,10%,.9);
  background-image: url('i/ethicslab.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position: 0 50%;
  background-repeat: no-repeat;
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  color: rgba(0,0,0,.925);
  position:relative;
  background-color: #f0f0f0;
  background-color: rgba(255,255,255,.925);
}

img {
  max-width: 100%;
  width: auto;
}

figure {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2,
h3 {
  margin-bottom:0;
  font-size: 1.25rem;
}

h2 + p,
h3 + p {
  margin-top: 1rem;
}

p + h2,
p + h3 {
  margin-top: 3rem;
  line-height: 1.25;
}

hr {
  border:0;
  height: 3px;
  background: rgba(0,0,0,0.1);
  width: 30px;
  margin: 3rem auto;
}

figure.quote {
  margin: 3rem 0;
  font-style:italic;
  color: rgba(0,0,0,.7);
  font-size: .8rem;
  border-left: .25rem solid rgba(0,0,0,.125);
  padding-left: 1rem;
}

.quote blockquote {
  margin-left:0;
}

.quote figcaption {
  font-style:normal;
}

.quote figcaption p:before {
  content: "—";
  color: rgba(0,0,0,.25);
}

header {
  background-color: hsla(210,70%, 7%,.875);
  padding: 2rem 0 0;
}

header h1 {
  font-size: 1rem;
  margin:0;
  font-weight:600;
}

header a,
header a:link {
  text-decoration:none;
  color: white;
  color: rgba(255,255,255,.925);
}

.byline {
    list-style:none;
    padding:0;
    font-size: .825rem;
    color: white;
    color: rgba(255,255,255,.625);
    font-weight: 400;
    margin: 2rem 0;
}

.byline li {
    margin-bottom: .5rem;
}

#global-navigation {

}

#global-navigation  a {
  text-decoration:none;
}

#global-navigation  a:link,
#global-navigation  a:visited {
  color: rgba(190,230,230,.75);
}

#global-navigation  a:hover,
#global-navigation  a:focus {
}

#global-navigation  a:active {
}

header {
  padding: 2rem;
}
  
main {
  padding: 0 2rem 2rem;
}

main > h1 {
    margin: 0 -2rem 2rem;
    padding: 2rem;
    background: rgba(190,230,230,.75);
    border-bottom: 2px solid rgba(0,0,0,.125);
}
.locations {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.locations a {
  width: 48%;
  margin-bottom: 2rem;
  text-decoration:none;
  background: rgba(0,0,0,0.125);
  padding: 1rem;
}

#graphic {
  margin: -30px -30px 40px;
  background: rgba(190,230,230,.75);
}

#graphic svg {
  height: 20vh;
  min-height: 100px;
  width: 100%;
  margin:0;
}

/* Utility Classes */
.audible {
  border: 0;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#works-cited p {
  margin-left: 2rem;
  text-indent: -2rem;
}

.vex.vex-theme-os .vex-content {
  width: 700px;
}

@media screen and (min-width: 700px) {

  body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
  }
  
  header {
      width: 30%;
  }
  nav {
      margin-top: 4rem;
  }
  
  nav a {
      display:block;
  }
  nav span {
      display:block;
      border: 1px solid white;
      border-color: rgba(255,255,255,.5);
      border-width: 2px 0;
      margin: 1rem 0;
      padding: 1rem 0;
  }
  
  main {
      width: 70%;
  }
  
  
}

@media screen and (min-width: 700px) and (min-height: 600px) {
}
