{% for record in site.data.media %}
{% if include.index == record.id %}
{% assign filename = record.name | remove: '/' | replace: ':','_' | replace: ' ','_' %}
<figure id="figure-{{ include.index }}" class="{{ record.type | downcase }}">
    {% if record.type == 'Image' %}
    <img src="{{ site.baseurl }}/assets/{{ filename }}.jpg" alt="">
    {% endif %}
    {% if record.type == 'Audio' %}
    <audio controls src="{{ site.baseurl }}/assets/{{ filename }}.wav"></audio>
    {% endif %}
    {% if record.type == 'Text' %}
    <object data="{{ site.baseurl }}/assets/{{ filename }}.pdf" type="application/pdf" width="100%" height="700px"></object>
    <a href="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf">{{ include.caption }}</a>
    {% endif %}

    <figcaption{% if include.audible == "true" %} class="audible"{% endif %}>
    {% if record.type != 'Audio' %}
    {% if record.caption %}
        <span class="caption">{{ record.caption }}</span>
    {% endif %}
    {% endif %}
    {% if record.alternative_text %}
        <span class="alternative_text">{{ record.alternative_text }}</span>
    {% endif %}
    </figcaption>
</figure>

{% endif %}
{% endfor %}
