<!DOCTYPE html>
<html lang="en" class="{% if page.url == '/' %}home{% else %}{{ page.url | slugify }}{% endif %}">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
<script src="https://use.fontawesome.com/0f21921284.js"></script>
<link href="https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans:300,400,600,800" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<a href="#main" class="audible">Skip to main content</a>
<header role="banner" id="banner">
    <h1><a href="{{ site.baseurl }}/"><span class="title">{{ site.title }}</span>: <span class="subtitle">{{ site.subtitle }}</span></a></h1>
    <ul class="byline">
        <li>Steph Ceraso, University of Virginia</li>
        <li>Matthew Pavcesich, Georgetown University</li>
    </ul>
<nav id="global-navigation">
  <a id="link-intro" href="{{ site.baseurl }}/">Introduction</a>
  <a id="link-fieldwork" href="{{ site.baseurl }}/fieldwork/">Fieldwork</a>  
  <span>
  <a id="link-high-impact" href="{{ site.baseurl }}/high-impact/">High Impact</a>
  <a id="link-collaboration" href="{{ site.baseurl }}/collaboration/">Collaboration</a>
  <a id="link-diy-learning" href="{{ site.baseurl }}/diy-learning/">DIY Learning</a>
  <a id="link-ecological" href="{{ site.baseurl }}/ecological/">Ecological</a>
  </span>
  <a id="link-conclusions" href="{{ site.baseurl }}/conclusions/">Conclusions</a>
  <a id="link-works-cited" href="{{ site.baseurl }}/works-cited">Works Cited</a> ·
</nav>

</header>

<main role="main" id="main">
{{ content }}
</main>

<footer>
</footer>
</html>
